header
  nav.navbar.navbar-expand-md.navbar-light.fixed-top(style="background-color: #feee76;")
    a.navbar-brand(href="") Lolly
    button.navbar-toggler(type="button"
                          data-toggle="collapse"
                          data-target="#navbarCollapse"
                          aria-controls="navbarCollapse"
                          aria-expanded="false"
                          aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="/") Overview
        li.nav-item: a.nav-link(href="/transactions/expenses") Transactions
        li.nav-item: a.nav-link(href="/reports/spending_over_time") Reports
        //- li.nav-item: a.nav-link.disabled(href="#") Disabled