extends layout

block content
  h1.mb-4 Overview
  .card.col-md-4.mb-5.card-body
    h5.card-title.mb-4 Accounts
    
    table.table
      thead.thead-light
        tr
          th(colspan='2') Checking Accounts
      tbody
        each account in accounts
          if account.type === 'Checking Account'
            tr
              td.col-md-9= account.description
              td= account.balance

    table.table
      thead.thead-light
        tr
          th(colspan='2') Savings Accounts
      tbody
        each account in accounts
          if account.type === 'Savings Account'
            tr
              td.col-md-9= account.description
              td= account.balance

    table.table
      thead.thead-light
        tr
          th(colspan='2') Cash
      tbody
        each account in accounts
          if account.type === 'Cash'
            tr
              td.col-md-9= account.description
              td= account.balance

    table.table
      thead.thead-light
        tr
          th(colspan='2') Credit Cards
      tbody
        each account in accounts
          if account.type === 'Credit Card'
            tr
              td.col-md-9= account.description
              td= account.balance

    table.table
      thead.thead-light
        tr
          th(colspan='2') Loans
      tbody
        each account in accounts
          if account.type === 'Loan'
            tr
              td.col-md-9= account.description
              td= account.balance

    table.table
      thead.thead-light
        tr
          th(colspan='2') Investment Accounts
      tbody
        each account in accounts
          if account.type === 'Investment Account'
            tr
              td.col-md-9= account.description
              td= account.balance

    a.btn.btn-outline-primary.mb-3(href="/accounts") Manage accounts

        
