extends ../layout

block content
  h1.mb-4 Manage Your Accounts
  a.btn.mb-4.btn-outline-primary(href='/') Back to Overview
  .card.mb-4.card-body
    h5.card-title.mb-3 Add New Account
    form(method="POST")
      .form-row
        .form-group.col-md-4
          label(for='type') Account Type
          select.form-control#type(name='type')
            option Checking Account
            option Savings Account
            option Cash
            option Credit Card
            option Loan
            option Investment Account
        .form-group.col-md-4
          label(for='description') Description
          input.form-control#description(name='description' type='text' placeholder='Enter brief account description')
        .form-group.col-md-4
          label(for='balance') Balance
          .input-group.mb-2
            .input-group-prepend
              .input-group-text $
            input#balance.form-control(name='balance' type='text' placeholder='Enter balance')
      button.btn.btn-outline-primary(type='submit') Submit

  .card.mb-4.card-body
    h5.card-title.mb-4 All Accounts
    
    table.table
      thead.thead-light
        tr
          th(colspan='3') Checking Accounts
      tbody
        each account in accounts
          if account.type === 'Checking Account'
            tr
              td.col-md-9.align-middle= account.description
              td.col-md-2.align-middle= account.balance
              td.col-md-1
                a.btn.btn-outline-primary(href=account.url+'/delete') Delete 

    table.table
      thead.thead-light
        tr
          th(colspan='3') Savings Accounts
      tbody
        each account in accounts
          if account.type === 'Savings Account'
            tr
              td.col-md-9.align-middle= account.description
              td.col-md-2.align-middle= account.balance
              td.col-md-1
                a.btn.btn-outline-primary(href=account.url+'/delete') Delete 

    table.table
      thead.thead-light
        tr
          th(colspan='3') Cash
      tbody
        each account in accounts
          if account.type === 'Cash'
            tr
              td.col-md-9.align-middle= account.description
              td.col-md-2.align-middle= account.balance
              td.col-md-1
                a.btn.btn-outline-primary(href=account.url+'/delete') Delete

    table.table
      thead.thead-light
        tr
          th(colspan='3') Credit Cards
      tbody
        each account in accounts
          if account.type === 'Credit Card'
            tr
              td.col-md-9.align-middle= account.description
              td.col-md-2.align-middle= account.balance
              td.col-md-1
                a.btn.btn-outline-primary(href=account.url+'/delete') Delete

    table.table
      thead.thead-light
        tr
          th(colspan='3') Loans
      tbody
        each account in accounts
          if account.type === 'Loan'
            tr
              td.col-md-9.align-middle= account.description
              td.col-md-2.align-middle= account.balance
              td.col-md-1
                a.btn.btn-outline-primary(href=account.url+'/delete') Delete

    table.table
      thead.thead-light
        tr
          th(colspan='3') Investment Accounts
      tbody
        each account in accounts
          if account.type === 'Investment Account'
            tr
              td.col-md-9.align-middle= account.description
              td.col-md-2.align-middle= account.balance
              td.col-md-1
                a.btn.btn-outline-primary(href=account.url+'/delete') Delete